[Unit]
Description=Watch file or directory and git commit all changes

[Service]
ExecStart=/usr/local/bin/gitwatch "%I"
ExecStop=/bin/true

[Install]
WantedBy=multi-user.target
